<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user_details[1] }}</h1>
    <p>Username: {{ user_details[1] }}</p>
    <p>Password: {{ user_details[2] }}</p>
    <p>Permissions: {{ user_details[3] }}</p>
    <ul>
        <li><a href="{{ url_for('generate_token_route') }}">Generate Token</a></li>
        <li><a href="{{ url_for('validate_token_route') }}">Validate Token</a></li>
    </ul>
    <button onclick="location.href='/'">Back to Home</button>
</body>
</html>
